.link {
	text-decoration: none;
	color: black;
}

.link:hover {
	color: rgb(11, 52, 238);
}

.alive {
	font-size: 24px;
	color: green;
}

.dead {
	font-size: 24px;
	color: red;
}

.phone {
	color: #ccc;
	background-color: rgba(160, 17, 204, 0.705);
	padding: 4px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	right: 1rem;
	top: 8px;
}

.phone:hover {
	background-color: rgb(160, 17, 204);
	color: white;
}

.logo {
	width: 20px;
	height: 20px;
}
