.dial__calling {
	animation: scaleOut ease-in-out 0.3s;
}

.dial__calling-recipient {
	margin-bottom: 1rem;
	font-size: 1.75rem;
	color: #fff;
	text-align: center;
	width: 25vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dial__calling-brand {
	margin-bottom: 1rem;
	font-size: 2.5rem;
	color: #fff;
	text-align: center;
	margin-top: 0.5rem;
}

.dial__calling-status {
	margin-bottom: 3rem;
	color: #fff;
	text-align: center;
	font-size: 1.5rem;
}

.dial__calling-container {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	gap: 0.5rem;
	margin-bottom: 2rem;
}

@keyframes scaleOut {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
