.table {
	width: 100%;
	border: 2px solid #000;
	z-index: -100;
}

.table tr {
	display: grid;
	grid-template-columns: 5% 35% 30% 10% 16% 4%;
}
.table > thead > tr > th {
	font-size: 1.25rem;
	padding: 0.25rem 0;
	border-right: 1px solid black;
	text-align: center;
}

.table tr {
	border: 1px solid #000;
}

.table th,
.table td {
	border-right: 1px solid black;
	text-align: left;
	margin-left: 4px;
	height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 36px;
}

.table td:last-child {
	text-align: center;
}

.table td:nth-child(4) {
	position: relative;
}
