.dial__calling-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	font-size: 1.5vw;
	border: none;
	color: #ccc;
}

.dial__calling-btn > i {
	border: 2px solid #ccc;
	font-size: 2vw;
	padding: 0.75rem;
	border-radius: 50%;
}
